[include mcu/AFC_QB.cfg]

[mcu QuattroBox]
canbus_uuid: f68104ab9c73
#serial: <replace with your /dev/serial/by-id/...> and comment out canbus_uuid above


[AFC_buffer TurtleNeck_QB]
advance_pin: ^QuattroBox:TN_ADV    # set advance pin
trailing_pin: ^QuattroBox:TN_TRL  # set trailing pin 
multiplier_high: 1.05   # default 1.05, factor to feed more filament
multiplier_low:  0.85   # default 0.95, factor to feed less filament


[AFC_NightOwl QuattroBox]
type: 'NightOwl'
hub: QuattroBoxHub
extruder: extruder
# buffer: <buffer_name> If not defined below from the install script, uncomment and add buffer name if using a buffer
buffer: TurtleNeck_QB

[temperature_sensor QuattroBox]
sensor_type: temperature_mcu
sensor_mcu: QuattroBox

[AFC_stepper lane1]
unit: QuattroBox:1
step_pin: QuattroBox:M1_STEP
dir_pin: QuattroBox:M1_DIR
enable_pin: !QuattroBox:M1_EN
microsteps: 8
rotation_distance: 22.905740611
#gear_ratio: 50:17
long_moves_speed: 300.0 
dist_hub: 120.0 
park_dist: 10
#rwd_speed_multiplier: 0.5
#fwd_speed_multiplier: 0.5
prep: ^QuattroBox:TRG1
load: ^QuattroBox:EXT1

[tmc2209 AFC_stepper lane1]
uart_pin: QuattroBox:M1_UART
diag_pin: ^QuattroBox:M1_DIAG
uart_address: 0
run_current: 1.1
sense_resistor: 0.110

[AFC_stepper lane2]
unit: QuattroBox:2
step_pin: QuattroBox:M2_STEP
dir_pin: QuattroBox:M2_DIR
enable_pin: !QuattroBox:M2_EN
microsteps: 8
rotation_distance: 22.905740611
#gear_ratio: 50:17
long_moves_speed: 250
dist_hub: 75.0 
park_dist: 10
#rwd_speed_multiplier: 0.5
#fwd_speed_multiplier: 0.5
prep: ^QuattroBox:TRG2
load: ^QuattroBox:EXT2

[tmc2209 AFC_stepper lane2]
uart_pin: QuattroBox:M2_UART
diag_pin: ^QuattroBox:M2_DIAG
uart_address: 0
run_current: 1.1
sense_resistor: 0.110

[AFC_stepper lane3]
unit: QuattroBox:3
step_pin: QuattroBox:M3_STEP
dir_pin: !QuattroBox:M3_DIR
enable_pin: !QuattroBox:M3_EN
microsteps: 8
rotation_distance: 22.905740611
#gear_ratio: 50:17
long_moves_speed: 500
long_moves_accel:250
dist_hub: 70.0 
park_dist: 10
#rwd_speed_multiplier: 0.5
#fwd_speed_multiplier: 0.5
prep: ^QuattroBox:TRG3
load: ^QuattroBox:EXT3

[tmc2209 AFC_stepper lane3]
uart_pin: QuattroBox:M3_UART
diag_pin: ^QuattroBox:M3_DIAG
uart_address: 0
run_current: 1.1
sense_resistor: 0.110

[AFC_stepper lane4]
unit: QuattroBox:4
step_pin: QuattroBox:M4_STEP
dir_pin: !QuattroBox:M4_DIR
enable_pin: !QuattroBox:M4_EN
long_moves_speed: 500.0 
long_moves_accel:250
microsteps: 8
rotation_distance: 22.905740611
#gear_ratio: 50:17
dist_hub: 120.0 
park_dist: 10
#rwd_speed_multiplier: 0.5
#fwd_speed_multiplier: 0.5
prep: ^QuattroBox:TRG4
load: ^QuattroBox:EXT4
rev_long_moves_speed_factor: 0.8 

[tmc2209 AFC_stepper lane4]
uart_pin: QuattroBox:M4_UART
diag_pin: ^QuattroBox:M4_DIAG
uart_address: 0
run_current: 1.1
sense_resistor: 0.110
#interpolate: True

[AFC_hub QuattroBoxHub]
switch_pin:  ^QuattroBox:HUB  # Pin for the hub switch
afc_bowden_length: 1165.0   # Length of the Bowden tube from the hub to the toolhead sensor in mm.
move_dis: 50                # Distance to move the filament within the hub in mm.
#hub_clear_move_dis: 25     # Distance after hub switch becomes fast to retract to insure hub is clear
cut: False                  # Hub cutter installed (e.g. Snappy)

#--=================================================================================--#
######### Hub Cut #####################################################################
#--=================================================================================--#
assisted_retract: False     # If True, retracts are assisted to prevent loose windows on the spool
cut_cmd: AFC #CMD to use
cut_dist: 50                # How much filament to cut off (in mm).
cut_clear: 120              # How far the filament should retract back from the hub (in mm).
cut_min_length: 300.0
cut_servo_pass_angle: 10    # Servo angle to align the Bowden tube with the hole for loading the toolhead.
cut_servo_clip_angle: 180   # Servo angle for cutting the filament.
cut_servo_prep_angle: 80    # Servo angle to prepare the filament for cutting (aligning the exit hole).

#[AFC_screen Turtle_1]
#mac_address: None

[AFC_led AFC_Indicator]
pin: QuattroBox:RGB1
chain_count: 4
color_order: GRBW

#[neopixel Extra2]
#pin: Turtle_1:RGB2
#chain_count: 6
#color_order: GRB

#[neopixel Extra3]
#pin: Turtle_1:RGB3
#chain_count: 6
#color_order: GRB

#[neopixel Extra4]
#pin: Turtle_1:RGB4
#chain_count: 4
#color_order: GRB
